
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Error404.css" rel="stylesheet" />
<center><h2>No tienes permiso para acceder esta pagina.</h2></center>
<center><h3><font size="35" >:(</font></h3></center>
<pre>


















</pre>