@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content
============================================= -->


<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>¿Que es <span>Help Desk</span>?</h4>
                </div>

                <p>Funciona para automatizar la función de gestión y soporte del servicio. Los propósitos típicos del Help Desk incluyen ayudar a los usuarios a recuperar contraseñas perdidas, ayudar a los clientes a solucionar problemas de productos, ayudar a los empleados con problemas técnicos de hardware y software, y más. Existen varias soluciones de servicio y soporte que ofrecen una funcionalidad sólida y robusta para optimizar el proceso de administración del Help Desk.</p>

            </div>

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Registro de <span>Incidencias</span></h4>
                </div>

                <p>Cubre una de las facetas principales del software de automatización de servicios: ayudar a los usuarios finales y clientes a solucionar problemas de hardware, software, productos y otros aspectos técnicos u operacionales / relacionados con el proceso. Un buen software de Help Desk incluirá amplias capacidades para el personal del Help Desk para solucionar problemas, diagnosticar y resolver problemas de manera rápida y efectiva.</p>

            </div>

            <div class="col_one_third col_last">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Solicitud de <span>Servicios</span></h4>
                </div>

                <p>Los usuarios pueden registrar su ncidencia o solicitud via web para dar respuestas estándar ajustadas a sus necesidades. Toda la información se registra en una única base de datos y solucionar solicitudes requerirá menos trabajo. Se asignaran tickets automáticamente en función de la experiencia o grupos de técnicos para obtener resoluciones precisas y oportunas y evitar la repetición de incidentes</p>

            </div>

        </div>

        <div class="row common-height clearfix">

            <div class="col-md-5 col-padding" style="background: url('../../Content/3.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="col-md-7 col-padding">
                <div>
                    <div class="heading-block">
                        <span class="before-heading color">Universidad Hispanoamericana</span>
                        <h3>Sobre la UH</h3>
                    </div>

                    <div class="row clearfix">

                        <div class="col-lg-12">
                            <p>Nuestra misión es la formación de profesionales líderes y generadores de cambio que contribuyan al mejoramiento de las condiciones de vida de la sociedad costarricense y del exterior, mediante el desarrollo de la docencia, la investigación y la acción social, en el ámbito académico, humanístico, tecnológico y empresarial.</p>
                            <p>Somos una universidad para todos aquellos que desean cambiar al mundo con ideas, visión y liderazgo, nuestro propósito es que vos cumplás el tuyo.</p>
                            <a href="https://es-la.facebook.com/uhispanoamericana/" class="social-icon inline-block si-small si-light si-rounded si-facebook" target="_blank">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="https://twitter.com/universidaduh?lang=es" class="social-icon inline-block si-small si-light si-rounded si-twitter" target="_blank">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/uhispanoamericana/" class="social-icon inline-block si-small si-light si-rounded si-instagram" target="_blank">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>



                    </div>

                </div>
            </div>

        </div>

        <div class="row common-height bottommargin-lg clearfix">

            <div class="col-md-7 col-padding" style="background-color: #F5F5F5;">
                <div>
                    <div class="heading-block">
                        <span class="before-heading color">Departamento de Tecnología de la Información</span>
                        <h3>Soporte Técnico</h3>
                    </div>

                    <div class="row clearfix">

                        <div class="col-lg-12">
                            <p>La función del departamento Técnico es la de proporcionar al departamento de Producción de la mayor tecnología posible para abaratar los costes de fabricación, su función es:</p>
                            <ul style="text-align: justify;list-style: inside;">
                                <li>Análisis y mejora de las herramientas de Producción</li>
                                <li>Análisis y mejora de las aplicaciones técnicas exteriores.</li>
                                <li>Estudio de nuevas inversiones que mejoren la tecnología y aprovechamiento de espacios.</li>
                            </ul>
                            <a href="mailto:imendez@uh.ac.cr" class="inline-block si-small si-light si-rounded si-email">
                                <i class="icon-email"></i> Enviar correo electrónico
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-5 col-padding" style="background: url('../../Content/8.jpg') center center no-repeat; background-size: cover;"></div>

        </div>

    </div>

</section><!-- #content end -->
