
@{
    ViewBag.Title = "ListadoIncidencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">


                <div class="table-responsive">
                    <table id="datatable1" class="table table-striped table-bordered table-dark" cellspacing="0" width="100%">
                        <thead>
                            <tr style="color:#20c997">
                                <th>Codigo</th>
                                <th>Asunto</th>
                                <th>Fecha Ingreso</th>
                                <th>Hora Ingreso</th>
                                <th>Usuario</th>
                                <th>Tipo Solicitud</th>
                                <th>Categoria</th>
                                <th>Estado</th>
                                <th>Técnico</th>
                                <th>Prioridad</th>
                            </tr>
                        </thead>
                 
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>No sirve el internet</td>
                                <td>7/30/2018</td>
                                <td>2:53 PM</td>
                                <td>Carlos</td>
                                <td>Soporte Técnico</td>
                                <td>Red/Web</td>
                                <td><i class="icon-ok-sign" style="color:#2ecc71; font-size: 25px;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option>Stephany</option>
                                        <option>Carlos</option>
                                        <option>Henry</option>
                                    </select>
                                </td>
                                <td>Alta</td>
                            </tr>

                            <tr>
                                <td>01</td>
                                <td>No sirve el internet</td>
                                <td>7/30/2018</td>
                                <td>2:53 PM</td>
                                <td>Carlos</td>
                                <td>Soporte Técnico</td>
                                <td>Red/Web</td>
                                <td><i class="icon-user" style="color:yellow; font-size: 25px;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option>Stephany</option>
                                        <option>Carlos</option>
                                        <option>Henry</option>
                                    </select>
                                </td>
                                <td>Alta</td>
                            </tr>

                            <tr>
                                <td>01</td>
                                <td>No sirve el internet</td>
                                <td>7/30/2018</td>
                                <td>2:53 PM</td>
                                <td>Carlos</td>
                                <td>Soporte Técnico</td>
                                <td>Red/Web</td>
                                <td><i class="icon-remove" style="color:red; font-size: 25px;"></i></td>
                                <td>
                                    <select class="form-control">
                                    
                                    </select>
                                </td>
                                <td>Alta</td>
                            </tr>




                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </section><!-- #content end -->
   

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="~/Content/jquery.js"></script>
<script src="~/Content/plugins.js"></script>

<!-- Bootstrap Data Table Plugin -->
<script src="~/Content/bs-datatable.js"></script>


<!-- Footer Scripts
============================================= -->
<script src="~/Content/functions.js"></script>

<script>

    $(document).ready(function () {
        $('#datatable1').dataTable();
    });

</script>