
@{
    ViewBag.Title = "Mantenimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('images/about/parallax2.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="nobottommargin" style="background: rgba(0,0,0,0.7); padding: 20px; border-radius: 10px; border: 1px solid #999;border: 1px solid #151515;box-shadow: 0 0 20px #000;">
                    <form>

                        <div>
                            <div>
                                <a href="activo"><button type="button" class="btn btn-primary btn-lg btn-block fa fa-desktop" style="font-size: 30px; color:black; opacity:0.6;"><font style="font-weight: bold; font-size: 20px; color:white"> AGREGAR ACTIVO </font></button>
                            </div>
                            <br />

                            <div>
                                <a href="sede"><button type="button" class="btn btn-primary btn-lg btn-block fa fa-globe" style="font-size: 30px; color:black; opacity:0.6;"><font style="font-weight: bold; font-size: 20px; color:white"><font style="font-weight: bold; font-size: 20px; color:white"> AGREGAR SEDE </font></button>
                            </div>
                            <br />
                      
                        

                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


</section><!-- #page-title end -->